<!DOCTYPE html>
<html lang="en">

<head>
  <%= render 'shared/meta_info' %>
  <%= csrf_meta_tags %>
  <title>Mariveles Water District</title>

  <!-- CSS -->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'css/bootstrap.css' %>
  <%= stylesheet_link_tag 'font-awesome/css/font-awesome.css' %>
  <%= stylesheet_link_tag 'css/front/styles', media: 'all' %>
  <!--page specific styles goes here -->
  <%= yield :page_styles %>
  <!--page specific styles ends here -->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>

<body>
<!-- start header here -->
<%= render 'layouts/header'  %>
<!-- end header here -->

<!--contents starts here -->
<% if @banners.any? %>
    <%= render 'layouts/main_banners'  %>
<hr class="page-divider">
<% else %>
<div style="margin-top: 20px;"></div>
<% end %>
<div id="page_content" class="container" style="margin-bottom:20px;">

<%= yield :page_content %>

</div>
<!--contents ends here -->

<!-- footer starts here -->
<%= render 'layouts/footer'  %>
<!-- footer ends here -->

<!-- Scripts -->

<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'main' %>
<script type="text/javascript">
    $(document).ready(function ($) {
        var articles = $('#highlights-holder').find('.article');
        // delegate calls to data-toggle="lightbox"
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            return $(this).ekkoLightbox({
                always_show_close: true
            });
        });

        if(articles.length > 0){
            loopArticles(0);
        };

        function loopArticles(idx){
            if(idx > (articles.length - 1)){
                idx = 0;
            }
            articles.eq(idx)
                    .delay(500)
                    .fadeIn(500, function(){
                        $('#h-loader').fadeOut();
                    })
                    .delay(5000)
                    .fadeOut(1000, function(){
                        $('#h-loader').fadeIn();
                        loopArticles(idx+1);
                    });

        }
    });
</script>
<%= yield :page_scripts %>

</body>



</html>
